a:link, a:active{
    color: black;
}
a:hover, a:visited{
    color: bisque;
}

img {
    width: 400px;
    height: 300px;
    margin-left: 90px;
}
p {
    margin-left: 50px;
}
ul {
    margin-left: 40px;
}

.blue {
    background-color: #0047AB;
}

.white {
    background-color: #FFFF;
    background-image: url(../photos/sal_coat_of_arms.png);
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
}

body{
    background-color: #EDEADE;
}

.transparent-img {
    opacity: 0.5;
}